FLASK_APP=app
FLASK_ENV=development
SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=postgresql://qwerkey_test_app:<<super_secret_password>>@localhost/qwerkey_test_db
S3_BUCKET_NAME=
S3_ACCESS_KEY=
S3_SECRET_ACCESS_KEY=
