[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==7.1.2"
gunicorn = "==20.0.4"
itsdangerous = "==1.1.0"
python-dotenv = "==0.14.0"
six = "==1.15.0"
Flask = "==1.1.2"
Flask-Cors = "==3.0.8"
Flask-SQLAlchemy = "==2.4.4"
Flask-WTF = "==0.14.3"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.3.19"
Werkzeug = "==1.0.1"
WTForms = "==2.3.3"
Flask-JWT-Extended = "==3.24.1"
email-validator = "==1.1.2"
Flask-Migrate = "==2.5.3"
Flask-Login = "==0.5.0"
alembic = "==1.4.3"
python-dateutil = "==2.8.1"
python-editor = "==1.0.4"
Mako = "==1.1.3"
PyJWT = "==1.7.1"
boto3 = "==1.17.26"
pytest = "==6.2.2"
pytest-dotenv = "==0.5.2"
requests = "==2.25.1"
SQLAlchemy-Utils = "==0.36.8"
attrs = "==20.3.0"
botocore = "==1.20.26"
certifi = "==2020.12.5"
chardet = "==4.0.0"
dnspython = "==2.1.0"
idna = "==2.10"
iniconfig = "==1.1.1"
jmespath = "==0.10.0"
pluggy = "==0.13.1"
py = "==1.10.0"
pyparsing = "==2.4.7"
s3transfer = "==0.3.4"
toml = "==0.10.2"
urllib3 = "==1.26.3"

[dev-packages]
psycopg2-binary = "==2.8.6"
autopep8 = "*"
pylint = "*"

[requires]
python_version = "3.8"
